.Page404 {
  width: 100%;
  height: 100%;
}

.video__container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.video {
  position: relative;
  object-fit: cover;
  width:  calc(100vw - 10px);
  min-height: calc(100vh - 100px);
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: .5;
}

.video__info {
  background: rgba(0, 0, 0, 0.274);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  position: absolute;
}

.video__image {
  width: 250px;
  height: 250px;
}

.video__header_text, .video__text {
  font-family: 'Trajan';
  font-size:50px;
  margin: 0;
}

.video__button {
  margin: 20px 0 20px 0;
  width: 200px;
  height: 50px;
  font-family: 'Trajan';
  font-size: 20px;
  color: aliceblue;
  background-color: #ffffff00;
  border: 3px solid #ffffff50;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-duration: .2s;
}

.video__button:hover {
  transition: 0.7s;
  border: 3px solid #e3796a;
}

.video__link {
  text-decoration: none;
}