@font-face {
  font-family: "Reaver Regular";
  src: url(./fonts/Reaver-Regular.woff);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Reaver SemiBold";
  src: url(./fonts/Reaver-SemiBold.woff);
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/dota_back.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
  color: #fff;
  font-family: Inter,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #232529;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background: rgb(80, 80, 80);
}