.home {
  min-height: calc(100vh - 110px);
}

.search_container {
  padding: 20px 0 0 0;
}

.seacrh__form {
  display: flex;
  justify-content: space-between;
  width: 300px;
  background-color: #25282a;
  border: 1px solid #25282a;
  border-radius: 2px;
}
input[type=text] {
  padding-left: 10px;
  font-family: 'Reaver Regular';
  font-size: 18px;
  color: whitesmoke;
  border: 1px solid hsl(204, 6%, 15%);
  border-radius: 2px;
}

input[type=text]:focus  {
  outline: none;
  border: 1px solid #25282a;
  border-radius: 2px;
  border: none;
}

.seacrh__bar {
  height: 30px;
  width: 100%;
  background-color: #25282a;
}

button:focus {
  outline: none;
}

.search__submit {
  border: none;
  height: 35px;
  background-color: #25282a;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}
